<!DOCTYPE html>
<html>
<head>
    <title>Inicio</title>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">
<body>

<div class="container">

    <div class="form-card">

        <h1>Control de Camiones</h1>

        <div class="actions">

            <button onclick="location.href='/RegistroSalidas'">
                Registrar Salida
            </button>

            <button onclick="location.href='/RegistroEntradas'">
                Registrar Entrada
            </button>

        </div>

    </div>

</div>

</body>
</html>